<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">

<a href="/changewallpaper"  class="btn btn-primary" role="button">
	Change Wallpaper
</a>

<br> 

<a href="/tts"  class="btn btn-primary" role="button">
	Text To Speech
</a>







</body>
</html>


