<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		body{	
		background: black  !important; 
			}

		.btn-info{
		margin: 80px auto;
			}
	</style>
</head>
<body bgcolor ="black">
	<center>
<br>
<br>
<br>
<br>
<br>
<font color="wheat">
<h1>Search Any thing on google</h1>
<h3>just by typing here</h3>
</font>
<br>
<br>
<form method="POST">
    <input name="text">
    <br>
     <br>
     <input class="form-check-input" type="checkbox" name="check" value="on" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
    Also Search Google Photos
  	</label>
  	<br>
  	<br>
    <input type="submit">
</form>

<a href="/" class="btn btn-info" role="button">
	Home
</a>


</center>
</body>
</html>


