<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">

<a href="openapp" class="btn btn-primary" role="button">
	Open App
</a> 

<br>


<a href="closeapp" class="btn btn-primary" role="button">
	Close App
</a>

<br>


<a href="runcmmd"  class="btn btn-primary" role="button">
	Run CMD Commands
</a>

<br>

<a href="mediacontrol"  class="btn btn-primary" role="button">
	Media Control
</a>

<br>

<a href="websearch"  class="btn btn-primary" role="button">
	Web Search
</a>

<br>

<a href="gsearch"  class="btn btn-primary" role="button">
	Google Search
</a>

<br>


<a href="yousearch"  class="btn btn-primary" role="button">
	Youtube Search
</a>

<br>

<a href="/screenshot"  class="btn btn-primary" role="button">
	Get Screenshot
</a>

<br> 

<a href="/additional"  class="btn btn-primary" role="button">
	Additional Feature
</a>

</div>


</body>
</html>


