<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body{	
		background: black  !important; 
			}

		.btn-info{
		margin: 80px auto;
			}
	</style>
</head>
<body bgcolor ="black">
	<center>
<br>
<br>
<br>
<br>
<br>
<font color="wheat">
<h1>Get Screenshot</h1>
</font>
<br>
<br>
<form method="POST">
	<div class="bd-example" align="middle">
	<img src="{{url_for('static', filename='screenshot.jpg')}}" align="middle" width="900" height="550" />
	</div>
    <input class="btn btn-info" type="submit">
</form>

<a href="/" class="btn btn-info" role="button">
	Home
</a>
</center>
</body>
</html>


