<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		body{	
		background: black  !important; 
			}

		.btn-info{
		margin: 80px auto;
			}
	</style>
</head>
<body bgcolor ="black">
	<center>
<br>
<br>
<br>
<br>
<br>
<font color="wheat">
<h1>Search Website</h1>
<h3>just type name of website</h3>
</font>
<br>
<br>
<form method="POST">
    <input name="text">
    <input type="submit">
</form>

<a href="/" class="btn btn-info" role="button">
	Home
</a>

</center>
</body>
</html>


